
// Color Schemes
// yellow/orange scheme
$clr-01-orange1: #ff2800;
$clr-01-orange2: #ff8300;
 $clr-01-yellow: #ffb400;
  $clr-01-dark1: #0a0a09;
  $clr-01-gray1: #454342;
  $clr-01-gray2: #827e79;

// https://coolors.co/app/0b0a07-bbcea8-8ed081-f0ec57-b4d2ba
  $clr-02-dark: #0b0a07;
$clr-02-muted1: #bbcea8;
$clr-02-muted2: #b4d2ba;
 $clr-02-green: #8ed081;
$clr-02-yellow: #f0ec57;

// https://coolors.co/app/011627-fdfffc-2ec4b6-e71d36-ff9f1c
$clr-03-dark: #011627;
$clr-03-light: #fdfffc;
$clr-03-blue: #2ec4b6;
$clr-03-red: #e71d36;
$clr-03-orange: #ff9f1c;


// Site Color Definitions
$color-dark: $clr-03-dark;
$color-dark-alt: $clr-01-gray1;
$color-light: $clr-03-light;
$color-light-alt: $clr-01-gray2;
$color-highlight: $clr-03-orange;
$color-highlight-alt: $clr-03-red;
