
// Color Schemes
// yellow/orange scheme
$clr-orange1: #ff2800;
$clr-orange2: #ff8300;
 $clr-yellow: #ffb400;
  $clr-dark1: #0a0a09;
  $clr-gray1: #454342;
  $clr-gray2: #827e79;

// Site Color Definitions
$color-dark: $clr-dark1;
$color-dark-alt: $clr-gray1;
$color-light: lighten($clr-gray2, 45%);
$color-light-alt: $clr-gray2;
$color-highlight: $clr-orange1;
$color-highlight-alt: $clr-orange2;

/*
$color-green: #96c950;
$color-teal: #0B9375;
$color-contrast: #E46211;
$color-light-green: mix(white, $color-green, 50%);
$color-light-teal: mix(white, $color-teal, 50%);
$color-dark-green: mix(black, $color-green, 30%);
$color-dark-teal: mix(black, $color-teal, 30%);
$color-txt: #3E3F3E;
$color-txt-light: #B1B3B2;
$color-light: #F3F6F5;
$color-light-grey: #E2E2E3;
$color-light-contrast: scale-color($color-contrast, $lightness: 25%);
$color-contrast-mix: mix($color-green, $color-contrast, 25%);
*/
