
body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.nav {
    height: 100%;
    width: 56px;
}

.links {
    overflow: scroll;
    width: 256px;
}

.content {
    flex-grow: 1;
}
