
<footer class="footer">

    <div class="footer__sections">

        <section>
            <ul class="footer__nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>

            </ul><!-- footer__nav -->
        </section>

        <section>
            <p>Section 3</p>
        </section>

        <section>
            <p>Section 3</p>
        </section>

    </div><!-- footer__sections -->
    <div>
        <p class="footer__copyright">
            <!-- img src="/images/ohio.png" class="footer__ohio" / -->
            © 2016 Destroy All Music
            <br />
            Dayton, Ohio USA
        </p>
    </div>


</footer>
