<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include svg.html %}

    <div class="nav">

    </div>

    <div class="links">
        <a href="">On the turntable - 2016-04</a>
        <a href="">Late 70's Punk Bands</a>
        <a href="">Modern Soul</a>
        <a href="">Modern Punk Rock</a>
        <a href="">On the turntable - 2016-01</a>
        <a href="">Reggae - 2016-01</a>
        <a href="">Folk/Americana</a>
        <a href="">Playlist 112</a>
        <a href="">Playlist 019</a>
        <a href="">On the turntable - 2015-10</a>
        <a href="">New Indie Rock - 2015-08</a>
        <a href="">On the turntable - 2015-06</a>
    </div>

    <div class="content">
        <h2>Content here</h2>
    </div>


</body>

</html>
