
.links {
    background: $color-dark-alt;

    a {

        border-bottom: 1px solid darken($color-dark-alt, 20%);
        box-shadow: inset 0 -1px 0 lighten($color-dark-alt, 35%);
        color: #e3e3e3;
        display: block;
        padding: 0.5em 1.0em;

        &:hover {
            background: lighten($color-dark-alt, 10%);
            color: #fff;
        }
    }
}
